<%- include("partials/header"); -%>
    <div>
        <h1 style="font-family: 'Pacifico', cursive;">About</h1>
        <hr>
    </div>
    <div>
        <br>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce a maximus nulla. Maecenas nec leo ipsum.
             Nulla ac sapien a leo mollis tincidunt. Vestibulum feugiat sem tincidunt feugiat tristique. Proin in
              mauris placerat, venenatis tortor sit amet, lobortis nulla. Duis et ante congue, tincidunt nisl vitae,
               hendrerit nunc. Praesent pulvinar sit amet massa ut vestibulum. Curabitur lobortis lectus id lectus
                sollicitudin vulputate. Sed elit purus, scelerisque ut convallis sit amet, efficitur in nulla.</p>
        <br>
        <p>Vivamus nec nibh nec orci pellentesque porttitor in mattis sapien. Suspendisse potenti. Aliquam vitae 
            lorem elementum diam mollis pellentesque. In turpis lacus, gravida lacinia rutrum et, egestas at quam. 
            Integer iaculis tempor aliquam. Vestibulum a metus erat. Fusce sagittis mauris ac dolor dapibus maximus.
             Nunc finibus fringilla massa, et ornare sapien consectetur et. Aenean porta tortor eu purus finibus 
             tincidunt. Pellentesque id fringilla nibh.</p>
        <br>
        <p>Vivamus nec nibh nec orci pellentesque porttitor in mattis sapien. Suspendisse potenti. Aliquam vitae 
            lorem elementum diam mollis pellentesque. In turpis lacus, gravida lacinia rutrum et, egestas at quam. 
            Integer iaculis tempor aliquam. Vestibulum a metus erat. Fusce sagittis mauris ac dolor dapibus maximus.
             Nunc finibus fringilla massa, et ornare sapien consectetur et. Aenean porta tortor eu purus finibus 
             tincidunt. Pellentesque id fringilla nibh.</p>
    </div>
<%- include("partials/footer"); -%>
