<%- include("partials/header"); -%>
    <div>
        <h1 style="font-family: 'Pacifico', cursive;">Contact us</h1>
        <hr>
    </div>
    <div>
        <br>
        <p>Vivamus nec nibh nec orci pellentesque porttitor in mattis sapien. Suspendisse potenti. Aliquam vitae 
            lorem elementum diam mollis pellentesque. In turpis lacus, gravida lacinia rutrum et, egestas at quam. 
            Integer iaculis tempor aliquam. Vestibulum a metus erat. Fusce sagittis mauris ac dolor dapibus maximus.
             Nunc finibus fringilla massa, et ornare sapien consectetur et. Aenean porta tortor eu purus finibus 
             tincidunt. Pellentesque id fringilla nibh.</p>
        <br>
        <p>Vivamus nec nibh nec orci pellentesque porttitor in mattis sapien. Suspendisse potenti. Aliquam vitae 
            lorem elementum diam mollis pellentesque. In turpis lacus, gravida lacinia rutrum et, egestas at quam. 
            Integer iaculis tempor aliquam. Vestibulum a metus erat. Fusce sagittis mauris ac dolor dapibus maximus.
             Nunc finibus fringilla massa, et ornare sapien consectetur et. Aenean porta tortor eu purus finibus 
             tincidunt. Pellentesque id fringilla nibh.</p>
        <br>
        <p>Vivamus nec nibh nec orci pellentesque porttitor in mattis sapien. Suspendisse potenti. Aliquam vitae 
            lorem elementum diam mollis pellentesque. In turpis lacus, gravida lacinia rutrum et, egestas at quam. 
            Integer iaculis tempor aliquam. Vestibulum a metus erat. Fusce sagittis mauris ac dolor dapibus maximus.
             Nunc finibus fringilla massa, et ornare sapien consectetur et. Aenean porta tortor eu purus finibus 
             tincidunt. Pellentesque id fringilla nibh.</p>
    </div>
<%- include("partials/footer"); -%>